<div class="publications">
  {% bibliography --query @*[selected=true] %}
</div>

<h2>Selected Preprints</h2>
<div class="publications">
  {% bibliography --query @*[selected_preprint=true] %}
</div>
